body {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(circle at center center, #c9d3e9, #ced9e5), repeating-radial-gradient(circle at center center, #c9d3e9, #c9d3e9, 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	height: 50vh;
	width: 300px;
	background-color: lightgrey;
	padding: 1%;
	border: 1px solid black;
	border-radius: 5%;
}

.screen {
	background-color: #F8EDE3;
	display: flex;
	justify-content: end;
	align-items: center;
	font-size: 2rem;
	width: 99%;
	height: 10%;
	border: 0.5px solid #7D6E83;
	border-radius: 5%;
}

.screen-content {
	margin-right: 1vh;
}

.number {
	background-color: #DFD3C3;
}

button {
	width: 25%;
	height: 90%;
	margin: 1%;
	background-color: #D0B8A8;
	border-radius: 10%;
}

button:hover {
	background-color: lightcyan;
}

.hor {
	display: flex;
	justify-content: space-between;
	height: 18%;
}

.backspace {
	width: 80%;
	margin-right: 2%;
	border-radius: 5%;
}

.clear {
	margin-left: 0;
}

